@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0px;
    font-family: Oswald, sans-serif;
    box-sizing: border-box;
    
}

.header {
    padding: 40px;
    padding-top: 30px;
    height: 80px;
    width: 100%;
    position:fixed;
    text-align: right;
    color: #0288d1;
    background-color: rgba(2,136,209,0.9);
}

.button-back {
    padding: 10px 29px 10px 28px;
    margin: 30px;
    width: 25%;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    text-decoration: none;
    text-align: center;
    color:#0288d1;
    background-color: #fff;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: bold;
    font-size: 12px;
    font-stretch: extra-expanded;
}

    

.container {
    width: 100vw;
    height: 100vh;
    background-color: #0288d1;

   
    } 

.container-main {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    } 


header {
    width:100%;
    height: auto;
    margin-bottom: 20px;
}

  .bluebg {
      padding: 2rem;
      width: 100%;
      background-color: #0288d1;
      height: 95vh;
      clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 90%);
      text-align: center;
}

.slate__container {
    padding-top: 100px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #0288d1;
    
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.slate {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 15px;
    height: 120px;
    width: 100px;
    background-color: #fff !important;
    border: 3px, solid, transparent;
    border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    display: inline-block;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: #000;
    font-weight: bolder;
    font-size: .8rem;
}

.slate:hover {
    cursor: zoom-in;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    padding: 20px;
    display: block;
    text-align: center;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 80%;
    color: #373737;
    font-weight: bold;
    font-size: 2rem;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

#size {
    font-size: 1rem;
}

.px {
    height: 50px;
    width:50px;
    float: left;
    visibility: hidden;
}
/* The Close Button */
.close {
    height: 50px;
    width: 50px;
    border: 1px, solid, transparent;
    border-radius: 50px;
    color: #fff;
    float: right;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    background-color: #666;
    line-height: .95;
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}

.close:hover,
.close:focus {
    color: #373737;
    text-decoration: none;
    cursor: pointer;
}



.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 24px;
    color: #666;
    font-weight: bolder;
}

.tooltip .tooltippopup {
    visibility: hidden;
    text-align: center;
    position: absolute;
    z-index: 1;
    width: 154px;
    height: 64px;
    top: 100%;
    left: 50%; 
    margin-left: -75px;
    border: 2px solid #373737;
    border-radius: 5px;
}

.tooltip:hover .tooltippopup {
    visibility: visible;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .5);
    cursor: pointer;

    
}

.tooltip .tooltippopup::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 40%;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #373737 transparent;
}
